@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

img, video {
  display: block;
  width: 100%;
}

:root {
  /* Primary */
  --clr-primary-400: hsl(0,0%,10%);
  --clr-primary-500: hsl(355,75%,48%);
  /* Neutral */
  --clr-neutral-400: hsl(0,1%,68%);
  --clr-neutral-500: hsl(214,9%,54%);
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  min-width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

main {
  padding-top: 7em;
}

.container {
  width: 95%;
  max-width: 72rem;
  margin: 0 auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .header-flex {
    gap: unset;
  }
}

.header-top {
  background-color: #fff;
  padding: .5em 0;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--clr-primary-500);
}

.logo-text span {
  font-style: italic;
  margin-right: .1em;
}

.header-top-nav {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .header-top-nav {
    margin-right: auto;
    margin-left: 1.5em;
  }
}

.header-top-nav > ul {
  display: flex;
  gap: .9em;
  margin-left: 1em;
}

@media only screen and (min-width: 500px) {
  .header-top-nav > ul {
    gap: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  .header-top-nav > ul {
    margin-left: unset;
  }
}

.header-top-nav ul li a {
  color: var(--clr-neutral-500);
  font-weight: 300;
}

.header-top-nav ul li a:hover {
  border-bottom: 1px solid var(--clr-neutral-500);
}

.fa-map-pin {
  color: var(--clr-primary-500);
}

.header-top-nav ul li:nth-of-type(3),
.header-top-nav ul li:nth-of-type(4),
.header-top-nav ul li:nth-of-type(5),
.header-search-cta .header-search,
.header-search-cta .header-cta {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-top-nav ul li:nth-of-type(3),
  .header-top-nav ul li:nth-of-type(4),
  .header-top-nav ul li:nth-of-type(5),
  .header-search-cta .header-search,
  .header-search-cta .header-cta {
    display: block;
  } 
}

.header-search-cta {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.header-search {
  color: var(--clr-neutral-500);
}

.header-search:hover {
  color: var(--clr-primary-500);
}

.header-cta {
  color: #fff;
  padding: .5em 1.5em;
  border-radius: 3px;
  background-color: var(--clr-primary-500);
}

.header-cta:hover,
.header-cta:focus {
  opacity: 90%;
}

.right-chevron a i {
  color: var(--clr-neutral-500);
}

.right-chevron a i:hover {
  color: var(--clr-primary-500);
}

@media only screen and (min-width: 768px) {
  .right-chevron {
    display: none;
  }
}

.header-btm {
  padding: .9em 0;
  background-color: var(--clr-primary-400);
}

.training-text {
  color: #fff;
  font-weight: 300;
}

.header-btm-nav-one ul,
.header-btm-nav-two ul {
  display: flex;
}

.header-btm-nav-one ul li a,
.header-btm-nav-two ul li a {
  color: #fff;
  font-weight: 300;
}

.header-btm-nav-one ul li a:hover,
.header-btm-nav-two ul li a:hover {
  border-bottom: 1px solid #fff;
}

.header-btm-nav-two ul li:nth-of-type(3) a:hover,
.header-btm-nav-two ul li:nth-of-type(4) a:hover {
  border-bottom: unset;
}

.header-btm-nav-one ul li:nth-of-type(4),
.header-btm-nav-two {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-btm-nav-one ul li:nth-of-type(4),
  .header-btm-nav-two {
    display: block;
  }
  .header-btm-nav-one {
    margin-right: auto;
    margin-left: 1.5em;
  }
}

.header-btm-nav-one {
  margin-left: 1em;
}

@media only screen and (min-width: 768px) {
  .header-btm-nav-one {
    margin-left: 1.5em;
  }
}

.header-btm-nav-one ul {
  gap: 1.2em;
}

@media only screen and (min-width: 500px) {
  .header-btm-nav-one > ul {
    gap: 1.5em;
  }
}

.header-btm-nav-two ul li {
  margin-left: 1.5em;
}

.header-btm .right-chevron a i {
  color: #fff;
}

.header-btm .right-chevron a i:hover {
  color: var(--clr-primary-500);
}

.main-top {
  padding: 3em 0 0;
}

@media only screen and (min-width: 992px) {
  .main-flex {
    display: flex;
  }
  form {
    display: grid;
    width: 97%;
    gap: .5em;
    grid-template: 1fr 1fr 1fr;
  }
  .cta {
    width: 60%;
    margin-top: 3em;
  }
  .phone {
    width: 40%;
  }
}

.cta-heading {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .cta-heading {
    font-size: 4.25rem;
    margin-bottom: .75em;
  }
}

.cta-subheading {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: .6em;
}

@media only screen and (min-width: 768px) {
  .cta-subheading {
    font-size: 2.6rem;
    padding-right: 3em;
  }
}

.cta-body {
  line-height: 1.6;
  opacity: 75%;
  margin-bottom: 3em;
}

@media only screen and (min-width: 992px) {
  .cta-body {
    padding-right: 7em;
  }
}

input[type="email"] {
  display: block;
  font-size: .9rem;
  font-weight: 300;
  padding: 1em;
  width: 100%;
  border: 1px solid var(--clr-neutral-400);
  border-radius: 3px;
  background: #fff;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.2em;
}

@media only screen and (min-width: 992px) {
  input[type="email"] {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: unset;
  }
}

form > label {
  font-size: .9rem;
  font-weight: 300;
}

@media only screen and (min-width: 992px) {
  form > label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 2em;
  }
}

input[type="submit"] {
  background-color: var(--clr-primary-500);
  padding: 1em;
  font-size: .9rem;
  color: #fff;
  border: none;
  border-radius: 3px;
  display: block;
  width: 100%;
  margin-top: 2.2em;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  input[type="submit"] {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: unset;
    width: 50%;
  }
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 90%;
}

.phone {
  margin-top: 6em;
}

@media only screen and (min-width: 992px) {
  .phone {
    margin: unset;
  }
}

.phone-vid {
  width: 22rem;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .phone-vid {
    width: 32rem;
  }
}

.main-btm {
  margin: 7.5em 0 3em;
}

.main-btm-title {
  color: var(--clr-primary-400);
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: 400;
}

.social-proof {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .5em;
}

.social-proof-img {
  width: 5rem;
  margin-left: 1.25em;
}

.social-proof-img:first-of-type {
  margin: unset;
}

footer {
  padding: 3em 0 .7em;
  background-color: var(--clr-primary-400);
}

@media only screen and (min-width: 992px) {
  footer {
    padding-bottom: 0;
  }
}

.footer-list-one {
  margin-bottom: 2em;
}

.footer-list-one li {
  margin-bottom: .725em;
}

.footer-list-one li:last-of-type {
  margin: unset;
}

.footer-list-one li a{
  color: #fff;
  font-size: .825rem;
  font-weight: 300;
}

.footer-list-one li a:hover,
.footer-list-one li a:focus {
  border-bottom: 1px solid #fff;
}

.footer-list-two {
  margin-bottom: 2em;
}

.footer-list-two li {
  margin-bottom: .725em;
}

.footer-list-two li:last-of-type {
  margin: unset;
}

.footer-list-two li a{
  color: #fff;
  font-size: .825rem;
  font-weight: 300;
}

.footer-list-two li a:hover,
.footer-list-two li a:focus {
  border-bottom: 1px solid #fff;
}

.footer-list-three {
  margin-bottom: 2em;
}

.footer-list-three li {
  margin-bottom: .725em;
}

.footer-list-three li:last-of-type {
  margin: unset;
}

.footer-list-three li a{
  color: #fff;
  font-size: .825rem;
  font-weight: 300;
}

.footer-list-three li:nth-of-type(3) a,
.footer-list-three li:nth-of-type(4) a {
  cursor: text;
}

.footer-list-three li a:hover,
.footer-list-three li a:focus {
  border-bottom: 1px solid #fff;
}

.address {
  font-style: italic;
}

.social-icons {
  margin-bottom: 1.2em;
}

.social-icons a {
  color: var(--clr-neutral-400);
  margin-right: 1.4em;
  font-size: 1.4rem;
}

.copy-logo {
  display: flex;
  align-items: center;
}

.copy-text {
  font-size: .825rem;
  color: #fff;
  font-weight: 200;
  margin-right: .25em;
}

.copy-text:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1em;
  }
  .footer-list-one {
    grid-column: 1 / 2;
    margin-bottom: 2em;
  }

  .footer-list-two {
    grid-column: 1 / 2;
  }
  .footer-list-three {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: unset;
  }
  .social-icons {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin-bottom: 6em;
  }
  .copy-logo {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: center;
  }
}